
# 8Wk@fIT17BZ?
# BEGIN WordPress
# As diretrizes (linhas) entre "BEGIN WordPress" e "END WordPress" são
# geradas dinamicamente e só devem ser modificadas através de filtros do WordPress.
# Quaisquer alterações nas diretivas entre esses marcadores serão sobrescritas.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Begin AIOWPSEC Firewall
	<IfModule mod_php5.c>
		php_value auto_prepend_file '/home/vol18_2/infinityfree.com/if0_34408553/htdocs/aios-bootstrap.php'
	</IfModule>
	<IfModule mod_php7.c>
		php_value auto_prepend_file '/home/vol18_2/infinityfree.com/if0_34408553/htdocs/aios-bootstrap.php'
	</IfModule>
	<IfModule mod_php.c>
		php_value auto_prepend_file '/home/vol18_2/infinityfree.com/if0_34408553/htdocs/aios-bootstrap.php'
	</IfModule>
# End AIOWPSEC Firewall

php_value upload_max_filesize 556M 
php_value post_max_size 556M