.ps-offcanvas-menu {
    position: fixed;
    left: 0;
    top: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    transition: all .3s linear;
    opacity: 0;
    transform: translateX(-100%);
    visibility: hidden;
    overflow-y: auto;
    &.active {
        opacity: 1;
        transform: translateX(0);
        visibility: visible;
    }
}
.ps-offcanvas-nav {
    a {
        border-bottom: 1px solid #454545;
    }
}
.ps-offcanvas-over {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 998;
    height: 100vh;
    width: 100vw;
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: opacity .3s linear;
    opacity: 0;
    visibility: hidden;
    &.active {
        opacity: 1;
        visibility: visible;
    }
}