.epb-section {
    &__header {
        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;
            width: 100%;
            height: 1px;
            background-color: $gray-300;
            left: 0;
            bottom: 0;
        }
    }

    &__content {
        &--big {
            height: 250px;

            >.position-absolute {
                bottom: 0;
                left: 0;
                background-color: rgba($gray-900, 0.7);
            }

            h1 {
                color: $white;
                transition: color 0.3s linear;
            }

            &:hover {
                h1 {
                    color: lighten($primary, 30);
                }
            }

            @include media-breakpoint-up(md) {
                height: 420px;
            }
        }
    }
}

.ps-media-news {
    height: 300px;
    position: relative;
    transition: all 0.3s linear;
    padding: 0;

    &--tag {
        font-size: 10px;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 9;
    }

    &--title {
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 9;
    }

    &--mask {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 7;
        background: rgb(0, 0, 0);
        background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 70%);
        transition: all 0.3s linear;
    }

    &:hover {
        .ps-media-news--mask {
            background: linear-gradient(0deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 100%);
        }
    }

    @include media-breakpoint-up(lg) {
        height: 400px;
    }
}

.ps-coins-indicators {
    background-color: $gray-200;

    h5 {
        font-size: 12px;
        color: $gray-600;
    }

    span {
        font-size: 12px;
    }
}

.ps-loterica-results {
    background-color: $blue-500;
    border-radius: 6px;
}

.ps-loterica-item {
    border: none;
    border-radius: 0;

    .accordion-button {
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        border-radius: 0 !important;
    }

    .accordion-body {
        span {
            display: inline-block;
            width: 25px;
            height: 25px;
            text-align: center;
            font-size: 12px;
            line-height: 23px;
            border: 2px solid $gray-400;
            color: $gray-600;
            margin: 0 5px;
            border-radius: 50%;
            @extend .mt-2;
        }
    }
}

.ps-loterica-mega-sena {
    .accordion-button {
        background-color: $success;
    }
}

.ps-loterica-quina {
    .accordion-button {
        background-color: $purple-600;
    }
}

.ps-loterica-lotofacil {
    .accordion-button {
        background-color: $indigo-300;
    }

}

.ps-loterica-lotomania {
    .accordion-button {
        background-color: $orange-500;
    }

}

.ps-loterica-dupla-sena {
    .accordion-button {
        background-color: $red-500;
    }
}

.ads-features {
    display: none;
    @media screen and (min-width: 1400px) {
        display: flex;
    }
}

.ps-home-news {
    &--tags {
        font-size: 12px;
        a {
            padding-right: 0;
            color: $gray-500;
            &:hover {
                color: $gray-900;
            }
        }
    }
    &--list {
        a {
            &:not(:first-child) {
                border-top: 1px solid $gray-300;
            }
            &:first-child {
                padding-top: 0;
            }
        }
    }
    &--authors {
        .author-th {
            width: 80px;
            height: 80px;
            border-radius: 50%;
        }
    }
    &--gallery {
        .thumb-gallery {
            width: 100px;
            height: 100px;
        }
    }
}