.ps-pagination {
    ul.page-numbers {
        @extend .pagination;
        li {
            @extend .page-item;
        }
        a, span {
            @extend .page-link;
        }
        span.current {
            @extend .active;
        }
    }
}

.ps-blogs {
    &--avatar {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-size: cover;
    }
}

.ps-writer {
    &--avatar {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        background-size: cover;
    }
}