.ps-post-bar, .ps-accessibility-opt {
    font-size: 13px;
    color: $gray-600;
}

.ps-widget {
    &--title {
        color: $gray-600;
    }
}

.ps-single-video > .container {
    height: auto;
    @include media-breakpoint-up(md) {
        height: 400px;
    }    
}