.ps-post-bar, .ps-accessibility-opt {
    font-size: 13px;
    color: $gray-600;
}

.ps-widget {
    &--title {
        color: $gray-600;
    }
}

.ps-post-content {
    .alignleft {
        float: left;
        margin: 0px 20px 20px 0px;
    }
    img {
        max-width: 100%;
    }
    .alignright {
        float: right;
        margin: 0px 0px 20px 20px;
    }
}