a {
    transition: all 0.3s linear;
}

img {
    max-width: 100%;
}

.font-tag {
    @extend .fw-semibold;
    @extend .text-uppercase;
    @extend .text-danger;
    @extend .d-inline-block;
    @extend .mb-2;
    font-size: 12px;
}

.font-title {
    font-family: $font-family-title;
    @extend .lh-sm;
    @extend .fw-semibold;
    a {
        @extend .text-decoration-none;
        &:hover {
            color: lighten($primary, 20);
        }
    }
}

.text-excerpt {
    @extend .d-inline-block;
    @extend .ps-3;
    position: relative;

    &::before {
        content: "";
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        height: 100%;
        width: 4px;
        background-color: $gray-200;
    }
}

.bg-cover {
    background-size: cover;
    background-position: center center;
}

.share-express {
    color: $gray-500;
    font-size: 12px;
    text-transform: uppercase;
    .fa {
        display: inline-block;
        margin-left: 10px;
    }
}

.play-media {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 0;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
}
